:root {
  --main-titel-color: #ffffff;
  --secondary-titel-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
}
footer {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.main {
  background-color: #e5e5e5;
}
.header-logo-fp {
  color: var(--accent-color);
}
.footer-logo-sp {
  color: #ffffff;
}
.current {
  color: var(--accent-color);
}

/*--------------Верхняя линия------------*/
.header {
  background-color: #ffffff;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}
.header-mail:hover,
.header-mail:focus {
  color: #2196f3;
}
.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}
/*----------------Шапка-------------*/
.hero {
  text-align: center;

  background-color: #2f303a;
}
.hero-titel {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-titel-color);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-titel-color);
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
}

/*--------------Особенности--------------*/
.peculiarities-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-titel-color);
}

.peculiarities-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*---------------Чем мы занимаемся------------*/
.works-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-titel-color);
}

/*---------------Наша команда--------------*/
.team-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-titel-color);
}

.team-member-titel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-titel-color);
}
.team-member-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*-----------------Подвал----------------*/
.footer {
  background-color: #2f303a;
}
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-titel-color);
}
.footer-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-mail:focus {
  color: #ffffff;
}
.footer-tel:hover,
.footer-tel:focus {
  color: #ffffff;
}

/*--------------------------------------Portfolio-------------------------------*/
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--secondary-titel-color);
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--main-titel-color);
}
.produkt-titel {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-titel-color);
}
.produkt-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
